- var name = "Paddle Battle";
- var url = 'http://webrtcgame.appspot.com/';
- var urlWithRoomId = url+'{{.Room}}';

!!! 5
html(lang='en')
  head(prefix='og: http://ogp.me/ns#')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='viewport',content='initial-scale=1, maximum-scale=1, minimum-scale=1')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='description', content='Welcome to play Pong against your friends using new amazing technology DataChannels')
    meta(property='og:type', content='website')
    //meta(property='og:image', content='')
    meta(property='og:url', content=url)

    title #{name}
    link(rel='apple-touch-icon', href='/images/mobile/apple-touch-57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/mobile/apple-touch-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/mobile/apple-touch-114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/minipong.png')
    link(rel='canonical', href=url)

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Varela')
    link(rel='stylesheet', href='/stylesheets/pong.css')

  body(class="{{.State}}")
    header.state.main-menu.animate
      h1
        img(src='/images/logo_large.png', width='1533', height='155', alt='#{name}')

      .nav
        .notifications
          p.notification.full.bubble(arb:id="friendPlayingSomeoneElse") Your friend is playing against someone else right now.
          p.notification.connection-error.error.bubble(arb:id="friendPlayingSomeoneElse") Connection error! Try to reload the page to play multiplayer or play against the computer.

        button.play-friend.green(arb:id='playFriendButton', type='button') Play friend
        button.play-computer.green(arb:id='playCPUButton', type='button') Play Computer

      .links
        a.experiment(href='http://google.com/', target='_blank', data-icon='⬢')
          span(arb:id='chromeExperiment') Chrome Experiment
        a.from(href='http://google.com/', target='_blank', data-icon='☃')
          span(arb:id='friendFromGoogle') Made with some friends from Google

    .state.loading.active
      .computer(data-icon='⎚')
      .loading__anim
        .pad
        .ball
        .pad
      .loading__label Loading

    //GAME INSTRUCTIONS
    section.state.game-instructions.inactive
      .dialog.middle
        .content.animate
          .game-controls.vertical-center
            h2(arb:id='gameInstructionsHeader') Game controls
            div.animation
              .kb-anim
                .dash-big.dash-black
                .key.key--small.default-key-anim
                  .key__label.icon-arrow-left
                  .key__bg-outer
                    .key__bg-inner
                div.key.key--small
                  .key__label.icon-arrow-right
                  .key__bg-outer
                    div.key__bg-inner
              p(arb:id='gameInstructionsPress') press
              .key.key--big.default-key-anim
                p.key__label SPACE
                .key__bg-outer
                  div.key__bg-inner
              p(arb:id='gameInstructionsPause') to pause
            button.green.play(type='button', arb:id='buttonOk') Ok (SPACE)

          .vertical-center
            .info-animation.hidden
              //GAME INFO ANIMATION
              .destroy-shield
                .destroy-shield__anim-container
                  .destroy-shield__wall
                    .destroy-shield__eyes
                      .dash-black
                      .dash-black
                    .destroy-shield__shields
                      .dash-tall.dash-black
                      .dash-tall.dash-black
                      .dash-tall.dash-black

                  .destroy-shield__weapon.icon-destroy-shield-weapon

              .destroy-shield__label
                p(arb:id='gameInstructionsShields') Disable the shields!
                p(arb:id='gameInstructionsMission') Destroy the screen!

    //INVITE FRIEND
    section.state.friend-invite.game-invite.inactive
      .dialog
        .content.animate
          .vertical-center
            h2(arb:id='inviteHeader') share this link to Invite a Friend
            p.share-url
              span.url= urlWithRoomId
            p(arb:id='inviteNotified') You will be notified when your friend enter the game
            button.red.return-mainmenu(type='button',arb:id='buttonMainMenu') Main Menu

    //COUNTDOWN
    section.state.game-prompt.inactive
      .background.animate
      .state.game-prompt-start.inactive
        .content.center.animate
          #start-prompt.prompt
            h1.bitmap(arb:id='promptStart') Start

      .state.game-prompt-level.inactive
        .content.center.animate
          #level-prompt.prompt
            h2.bitmap(arb:id='promptLevel') Level 
              span 1

      .state.game-prompt-round.inactive
        .content.center.animate
          #round-prompt.prompt
            h3.bitmap(arb:id='promptBall') Ball 
              span 1

      .state.game-prompt-over.inactive
        .content.center.animate
          .prompt
            h4.over.bitmap(arb:id='promptOver') Game Over
            h4.win.bitmap(arb:id='promptWin') You Win
            h4.loose.bitmap(arb:id='promptLoose') You Loose

    //PAUSE DIALOG
    section.state.game-pause.inactive
      .dialog
        .content.animate
          .vertical-center
            h2(arb:id='pauseHeader') Paused
            .buttons
              button.blue.main-menu(type='button', arb:id='buttonMainMenu') Main Menu
              button.singleplayer.green.play(type='button', arb:id='buttonResume') Resume (space)

    //CAMERA REQUEST ATTENTION
    section.state.webcam-activate.inactive
      .dialog.top
        .content
          h1.alert-info(arb:id='webcamAllow') Please choose allow to connect your webcam and start friends play

    section.state.webcam-information.inactive
      .dialog.top
        .content
          h1.alert-info(arb:id='webcamDenied') Are you sure? Friends play is not possible without allowing webcam.
          .buttons
            a.button.keyboard.red(arb:id='buttonNewGame', href='/') New game

    //WAITING FOR FRIEND CAMERA
    section.state.webcam-waiting.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .webcam-spinner
              .webcam-spinner__bg.icon-webcam
              .webcam-spinner__quarter
                .icon-quarter-circle
            h2(arb:id='waitingForCamera') Waiting for friend<br/>to activate camera

    //WAITING FRIEND
    section.state.friend-waiting.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2(arb:id='waitingForAcceptance') Your friend is waiting for you in the arena
            button.play-friend.blue(type='button', arb:id='buttonPlayFriend') Play Friend

    //FRIEND ARRIVED
    section.state.friend-arrived.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2(arb:id='friendArrived') Your friend has arrived
            button.play-friend.blue(type='button', arb:id='buttonPlayFriend') Play Friend

    //WAITING FRIEND ACCEPT
    section.state.game-wait.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2(arb:id='waitingForGameStart') Waiting for you friend to start

    //WAITING FRIEND ACCEPT
    section.state.friend-accept.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2(arb:id='waitingFriendAccept') Waiting for you friend to accept

    //OPPONENT LEFT DIALOG
    section.state.friend-left.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
                .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
                .cpu-wth-eyes__container
                  .cpu-wth-eyes__eyes
                    .dash-medium.dash-white.sad-left-eye-anim-loop
                    .dash-medium.dash-white.sad-right-eye-anim-loop
            h2(arb:id='leftGame') Your friend left the game
            .buttons
              button.green.play.main-menu(type='button', arb:id='buttonMainMenu') Main Menu

    //GAME OVER
    section.state.game-over.inactive
      //h1.bitmap.shadow Game Over
      div
        .dialog
          .content.animate
            #scoreboard-single.vertical-center
              .scoreboard.single
                  div
                    p#single-levels.levels X
                    h3(arb:id='levelReached') Level Reached
                  ul.social
                    li
                      a.icon(data-icon='g', href='https://plus.google.com/share?url='+url)
                        span Google+
                    li
                      a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
                        span Facebook
                    li
                      a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name}')
                        span Twitter

              button.blue.main-menu(type='button', arb:id='buttonMainMenu') Main Menu
              button.green.play(type='button', arb:id='buttonRetry') Retry Level (Space)

            #scoreboard-multi.vertical-center
              .scoreboard.multiplayer
                h3(arb:id='scoreTotalWins') Total wins
                div
                  p#me-levels.levels
                    i X
                    span(arb:id='playerYou') You
                  p#opponent-levels.levels
                    i X
                    span(arb:id='playerFriend') Friend
                ul.social
                  li
                    a.icon(data-icon='g', href='https://plus.google.com/share?url='+url)
                      span Google+
                  li
                    a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
                      span Facebook
                  li
                    a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name}')
                      span Twitter

                button.green.play(type='button', arb:id='buttonPlayAgain') Play Again (Space)

    section#scores.state.game.inactive
      .logo
        img(src="/images/minipong.png", alt='logo')
        h1 #{name}
        p.level(arb:id='scoreLevel') Level
          span#level 1


      .multiplayer
        .player
          p(arb:id='playerYou') You
          ol
            li
            li
            li

        .opponent
          p(arb:id='playerFriend') Friend
          ol
            li
            li
            li

      .singleplayer
        .player
          p(arb:id='playerYou') You
          ol
            li.active
            li.active
            li.active

        .opponent
          p(arb:id='playerCPU') CPU
          ol
            li.active
            li.active
            li.active

    #game
      canvas#canv-3d(width='320',height='480')
      canvas#canv-2d(width='320',height='480')
      canvas#canv-db(width='320',height='480')
      video#remoteInput.hidden(width='160',height='120',autoplay)
      video#localInput.hidden(width='160',height='120',autoplay)

      #canv-css
        .background.state.game
          img.bg(data-src-mobile='/images/mobile/mobile-bg-mobile.jpg', data-src-tablet='/images/mobile/mobile-bg-full.jpg', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA1JREFUeNoBAgD9/wAAAAIAAVMrnDAAAAAASUVORK5CYII=')
          .bear.bob
            #expressions
          p.bubble(data-name='BOB')
        .game-board
          .arena
            .effect.force
        .shields
          .shields-a
          .shields-b
        .effects
          .effect.fog.hidden
        .obstacles
          .obstacle.triangle-left
          .obstacle.triangle-right

    #extras.state.game.inactive
      ul
        li.icon-death-ball(data-icon='*') Death ball
        li.icon-ghost-ball(data-icon='*') Ghost ball
        li.icon-magnetic-ball(data-icon='*') Magnetic ball
        li.icon-paddle-resize(data-icon='*') Paddle Resize
        li.icon-fog(data-icon='*') Fog
        li.icon-multiball(data-icon='*') Multi ball
        li.icon-extra-life(data-icon='*') Extra life
        li.icon-time-bomb(data-icon='*') Time Bomb
        li.icon-track-ball(data-icon='*') Track ball
        li.icon-lazer-paddle(data-icon='*') Lazer paddle
        li.icon-mirrored-controls(data-icon='*')
          span Mirrored Controls
        li.icon-bulletproof(data-icon='*') Bullet Proof


    //MOBILE
    section.mobile
      section.state.main-menu.inactive
        img(data-src-mobile='/images/mobile/landing-mobile.jpg', data-src-tablet='/images/mobile/landing-tablet.jpg', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA1JREFUeNoBAgD9/wAAAAIAAVMrnDAAAAAASUVORK5CYII=')
      #gamepad.state.game.inactive
        button.left(type='button')
        button.right(type='button')
      nav#mobile-menu.state.game.inactive.animate
        .state.game-play.inactive
          button.pause(href='#', data-icon='▹', type='button')
        .state.game-pause.inactive
          button.play(href='#', data-icon='▶', type='button')
          button.sound(href='#', data-icon='♫', data-icon-off='♩', type='button')
          button.info(href='#', data-icon='⌽', type='button')

    //ERROR STATES
    section#error.state.error.inactive
      .state.error-connection.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorConnectionHeader') Connection Error!
              .cpu-conn-failed-anim
                .cpu-wth-eyes
                  .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
                  .cpu-wth-eyes__container
                    .cpu-wth-eyes__eyes
                      .dash-medium.dash-white.sad-left-eye-anim-loop
                      .dash-medium.dash-white.sad-right-eye-anim-loop

                .dash-anim-line
                  .dash-small.dash-black
                  .dash-small.dash-black
                  .dash-small.dash-black

                .cross-fail-anim
                  .icon-cross

                .dash-anim-line
                  .dash-small.dash-black
                  .dash-small.dash-black
                  .dash-small.dash-black

                .cpu-wth-eyes
                  .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
                  .cpu-wth-eyes__container
                    .cpu-wth-eyes__eyes
                      .dash-medium.dash-white.sad-left-eye-anim-loop
                      .dash-medium.dash-white.sad-right-eye-anim-loop

              p(arb:id='errorConnectionReload') You can try reloading the page
              p(arb:id='errorConnectionOr') or try the single player game
              .buttons
                a.button.red(href='', arb:id='buttonReload') Reload

      .state.error-fullroom.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorOccupiedHeader') Your friend is currently playing someone else!
              .cpu-conn-failed-anim
                .cpu-wth-eyes
                  .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
                  .cpu-wth-eyes__container
                    .cpu-wth-eyes__eyes
                      .dash-medium.dash-white.sad-left-eye-anim-loop
                      .dash-medium.dash-white.sad-right-eye-anim-loop

                .dash-anim-line
                  .dash-small.dash-black
                  .dash-small.dash-black
                  .dash-small.dash-black

                .cross-fail-anim
                  .icon-cross

                .dash-anim-line
                  .dash-small.dash-black
                  .dash-small.dash-black
                  .dash-small.dash-black

                .cpu-wth-eyes
                  .cpu-wth-eyes__bg.icon-computer(data-icon='⎚')
                  .cpu-wth-eyes__container
                    .cpu-wth-eyes__eyes
                      .dash-medium.dash-white.sad-left-eye-anim-loop
                      .dash-medium.dash-white.sad-right-eye-anim-loop

              p(arb:id='errorOccupiedNew') You can create a new game to invite a friend of you own
              p(arb:id='errorOccupiedOr') or go back to main menu to play the single player game
              .buttons
                button.main-menu.red(type='button', arb:id='buttonMainMenu') Main Menu
                a.button.red(href='/', arb:id='buttonNewGame') New Game

      .state.error-datachannels.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorDCHeader') Error
              p(arb:id='errorDCBrowserSupport') Sorry. your browser does not support 2 player game in friends play. install a modern browser like <a href='google.com'>google chrome</a>, or try single player game.
              button.main-menu.red(type='button', arb:id='buttonMainMenu') Main Menu

      //section.error.network-missing
        .dialog.bottom
          .content.animate
            .vertical-center
              button.main-menu(type='button', arb:id='buttonMainMenu') Main Menu

    footer#footer
      ul#socials.social
        li
          a.icon(data-icon='g', href='https://plus.google.com/share?url=#{url}')
            span Google+
        li
          a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
            span Facebook
        li
          a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name}')
            span Twitter
      #about
        ul
          li.technology
            a(target='_blank')
              span(arb:id='footerTechnology') Technology
          li.terms
            a(target='_blank', href='https://www.google.com/policies/', arb:id='footerTerms') Terms &amp; privacy
          li.localization
            a#localizationSwitch(href='#') EN
          li.sound
            a.sound-switch.off(href='#')
              span.off(arb:id='soundOn') Sound on
              span.on(arb:id='soundOff') Sound off

    #fpsCameraCapture

    #settingsGUIContainer
      #settingsDataGUI
      #settingsLevelsGUI
      #uiTopContent


    script(src='/_ah/channel/jsapi')
    //- script(src='//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js')
    script(src='/javascript/libs/three.{{.Minified}}js')
    script(src='/javascript/libs/TweenMax.min.js')
    script(src='/javascript/libs/dat.gui.js')
    script(src='/javascript/pong.{{.Minified}}js')
    script(src='/javascript/dmaf.min.js')
    script
      //- Raven.config('https://01f75138e63f44fea0df1f309f2f0941@murmuring-sands-2509.herokuapp.com/2').install();
    script
      require('paddle-battle')({
        room: '{{.Room}}',
        user: '{{.User}}',
        token: '{{.Token}}',
        acceptLanguage: 'en,rv,{{.AcceptLanguage}}'
      })
