- var name = "Cube Slam";
- var description = "Play face-to-face against your friends.";
- var url = 'https://cubeslam.com/';
- var urlWithRoomId = url+'{{.Room}}';

!!! 5
//\[if IE]><html class="ie"><![endif]
//\[if !IE]><!
html(lang='en',manifest='/manifest.appcache')
  //\<![endif]
  head(prefix='og:http://ogp.me/ns#')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='viewport',content='initial-scale=1, maximum-scale=1, minimum-scale=1')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='google-site-verification', content='4iEvCOWOW4j9kZKZTAgguUJBoDq5PRx_6AdEYOi8RZ0')
    meta(name='description', content=description, arb:id='metaDescription')
    meta(property='og:type', content='website')
    meta(property='og:title', content=name, arb:id='title')
    meta(property='og:description', content=description, arb:id='metaDescription')
    meta(property='og:image', content='#{url}images/mobile/gameboard.jpg')
    meta(property='og:url', content=url)

    // if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')

    title(arb:id='title') #{name}
    link(rel='apple-touch-icon', href='/images/mobile/apple-touch-57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/mobile/apple-touch-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/mobile/apple-touch-114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/mobile/apple-touch-144.png')
    link(rel='canonical', href=url)

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Varela')
    link(rel='stylesheet', href='/stylesheets/slam.css?v={{.Version}}')
    script

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39581099-3']);
      _gaq.push(['_trackPageview', '/']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body(class="{{.State}}", itemscope, itemtype='http://schema.org/Product')
    header.state.main-menu.animate.inactive
      h1(itemprop='name')
        img(src='/images/logo_large.png', width='1533', height='155', alt='#{name}')
      h2.state.inactive(itemprop='description') #{description}


      .nav
        button.play-friend.green(arb:id='playFriendButton', type='button') Play A Friend
        button.play-computer.start.green(arb:id='playCPUButton', type='button') Play A Bear
        button.play-mobile.start.green(arb:id='playButton', type='button') Play

      .links
        a.experiment.icon(href='http://chromeexperiments.com/', target='_blank', data-icon='⬢')
          span(arb:id='chromeExperiment') Chrome Experiment

    .state.loading.active
      .computer.icon(arb:id='loading',data-icon='⎚') Loading
      .loading__anim
        .pad
        .ball
        .pad

    //GAME INSTRUCTIONS
    section.state.game-instructions.inactive
      .dialog.middle
        .content.animate
          .game-controls.vertical-center
            h2(arb:id='gameInstructionsHeader') Game controls
            div.animation
              .kb-anim
                .dash-big.dash-black
                .key.key--small.default-key-anim
                  .key__label.icon-arrow-left
                  .key__bg-outer
                    .key__bg-inner
                div.key.key--small
                  .key__label.icon-arrow-right
                  .key__bg-outer
                    div.key__bg-inner
              p(arb:id='gameInstructionsPress') to move and
              .key.key--big.default-key-anim
                p(arb:id='space').key__label SPACE
                .key__bg-outer
                  div.key__bg-inner
              p(arb:id='gameInstructionsPause') to pause
            button.green.play(type='button', arb:id='buttonOk') OK (SPACE)

          .vertical-center
            .info-animation.mobile.hidden
              //GAME INFO ANIMATION
              .swipe-animation.rotate
                .icon.device(data-icon='▣')
                .dashed-line
                .keys
                  .left
                  .right
                .loading__anim
                  .pad
                  .ball
                  .pad

              .swipe-label
                p(arb:id='gameInstructionsMobileSwipe') Swipe at the bottom of the screen
                p(arb:id='gameInstructionsMobilePress') Or press buttons in landscape mode

          .vertical-center
            .info-animation.objective.hidden
              .destroy-shield
                .destroy-shield__anim-container
                  .destroy-shield__wall
                    .wall.top
                    .wall.left
                    .destroy-shield__eyes
                      .dash-beige
                      .dash-beige
                    .destroy-shield__shields
                      .dash-tall.dash-beige
                      .dash-tall.dash-beige
                      .dash-tall.dash-beige

                  .destroy-shield__weapon.icon-destroy-shield-weapon

              .destroy-shield__label
                p(arb:id='gameInstructionsShields') Disable the shields!
                p(arb:id='gameInstructionsMission') Destroy the screen!

    //INVITE FRIEND
    section.state.friend-invite.game-invite.inactive
      .dialog
        .content.animate
          .vertical-center
            h2(arb:id='inviteHeader') Share this link to invite a friend
            p.share-url
              span.url= urlWithRoomId
            p(arb:id='inviteNotified') We'll let you know when they arrive
            button.green.return-mainmenu(type='button',arb:id='buttonMainMenu') Main Menu

    //COUNTDOWN
    section.state.game-prompt.inactive
      .background.animate
      .state.game-prompt-start.inactive
        .content.center.animate
          #start-prompt.prompt
            h1.bitmap Start
            div(arb:id='promptStart').subtitle

      .state.game-prompt-level.inactive
        .content.center.animate
          #level-prompt.prompt
            h2.bitmap Level 
              span 1
            div(arb:id='promptLevel').subtitle

      .state.game-prompt-round.inactive
        .content.center.animate
          #round-prompt.prompt
            h3.bitmap Ball 
              span 1
            div(arb:id='promptBall').subtitle

      .state.game-prompt-over.inactive
        .content.center.animate
          .prompt
            h4.over.bitmap Game Over
            div(arb:id='promptOver').over.subtitle
            h4.win.bitmap You Win
            div(arb:id='promptWin').win.subtitle
            h4.loose.bitmap You Lose
            div(arb:id='promptLoose').loose.subtitle

    //PAUSE DIALOG
    section.state.game-pause.inactive
      .dialog
        .content.animate
          .vertical-center
            h2(arb:id='pauseHeader') Paused
            .buttons
              button.singleplayer.green.play(type='button')
                span(arb:id='buttonResume') Resume
                span.keyboard(arb:id='space') (space)
              button.blue.main-menu(type='button', arb:id='buttonMainMenu') Main Menu

    //CAMERA REQUEST ATTENTION
    section.state.webcam-activate.inactive
      .dialog.top
        .content
          h1.alert-info(arb:id='webcamAllow') Please allow access to your webcam to play your friend.

    section.state.webcam-information.inactive
      .dialog.bottom
        .content
          .vertical-center
            h1(arb:id='webcamDeniedHeaderH1') Sorry, you need your webcam to play your friend
            p(arb:id='webcamDeniedInfo') It looks like you've blocked access to your webcam.
            h3(arb:id='webcamDeniedHeaderH3') To allow access:
            ol
              li(arb:id='webcamDeniedStep1') Click the camera icon on the right side of the address bar
              li(arb:id='webcamDeniedStep2') Select "Always allow www.cubeslam.com to access your camera and microphone" and click "Done"
              li(arb:id='webcamDeniedStep3') Click "Reload"
            .buttons
              p(arb:id='webcamButtonExplanation') Or you can still play the computer:
              a.button.green(href='/', arb:id='buttonMainMenu') Main Menu

    //WAITING FOR FRIEND CAMERA
    section.state.webcam-waiting.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .webcam-spinner
              .webcam-spinner__bg.icon-webcam
              .webcam-spinner__quarter
                .icon-quarter-circle
            h2(arb:id='waitingForCamera') Waiting for Friend<br/>to allow camera

    //WAITING FRIEND
    section.state.friend-waiting.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer.icon(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h3(arb:id='waitingForAcceptance') Your friend is waiting for You
            button.play-friend.blue(type='button', arb:id='buttonPlayFriend') Play Friend

    //FRIEND ARRIVED
    section.state.friend-arrived.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer.icon(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h3(arb:id='friendArrived') Your Friend has arrived
            button.play-friend.blue(type='button', arb:id='buttonPlayFriend') Play Friend

    //WAITING FRIEND START GAME
    section.state.game-wait.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer.icon(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2(arb:id='waitingForGameStart') Waiting for Friend to Start Game

    //WAITING FRIEND ACCEPT
    section.state.friend-accept.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer.icon(data-icon='⎚')
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2(arb:id='waitingFriendAccept') Waiting for Friend to accept


    //OPPONENT LEFT DIALOG
    section.state.friend-left.inactive
      .dialog.middle
        .content.animate
          .vertical-center
            .cpu-wth-eyes
                .cpu-wth-eyes__bg.icon-computer.icon(data-icon='⎚')
                .cpu-wth-eyes__container
                  .cpu-wth-eyes__eyes
                    .dash-medium.dash-white.sad-left-eye-anim-loop
                    .dash-medium.dash-white.sad-right-eye-anim-loop
            h2(arb:id='leftGame') Your Friend has left
            .buttons
              button.green.play.main-menu(type='button', arb:id='buttonMainMenu') Main Menu

    //GAME OVER
    section.state.game-over.inactive
      div
        .dialog
          .content.animate
            #scoreboard-single.vertical-center
              h1.mobile.bitmap.shadow Game Over
              div.mobile.subtitle.shadow(arb:id='promptOver')

              .scoreboard.single
                  div
                    h3(arb:id='levelReached') Level Reached
                    p#single-levels.levels
                      i X
                  ul.social
                    li
                      a.icon(data-icon='g', href='https://plus.google.com/share?url=#{url}')
                        span Google+
                    li
                      a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
                        span Facebook
                    li
                      a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name}')
                        span Twitter

              button.blue.main-menu(type='button', arb:id='buttonMainMenu') Main Menu
              button.green.play(type='button')
                span(arb:id='buttonRetry') Retry Level
                span.keyboard(arb:id='space') (Space)

            #scoreboard-multi.vertical-center
              .scoreboard.multiplayer
                h3(arb:id='scoreTotalWins') Game Score
                div
                  p#me-levels.levels
                    i X
                    span(arb:id='playerYou') You
                  p#opponent-levels.levels
                    i X
                    span(arb:id='playerFriend') Friend
                ul.social
                  li
                    a.icon(data-icon='g', href='https://plus.google.com/share?url='+url)
                      span Google+
                  li
                    a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
                      span Facebook
                  li
                    a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name}')
                      span Twitter

                button.green.play(type='button')
                  span(arb:id='buttonNextLevel') Next Level
                  span.keyboard(arb:id='space') (Space)

    //RENDERERS
    #game
      canvas#canv-3d(width='320',height='480')
      canvas#canv-2d(width='320',height='480')
      canvas#canv-db(width='320',height='480')
      video#remoteInput.hidden(width='160',height='120',autoplay)
      video#localInput.hidden(width='160',height='120',autoplay,muted)

      #canv-css.state.game.inactive
        .background.state.game
          img.bg(data-src-mobile='/images/mobile/game-mobile.jpg', data-src-tablet='/images/mobile/game-full.jpg', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA1JREFUeNoBAgD9/wAAAAIAAVMrnDAAAAAASUVORK5CYII=', alt='Mobile background')
          .screen
            .effect.hit-cpu.hidden
            .effect.hit-player.hidden
          .bear.full
            #expressions
            p.bob
          .swipe-instruction
        .game-board
          .arena
            .effect.force
        .shields
          .shields-a
            .shield.shield-1
            .shield.shield-2
            .shield.shield-3
            .shield.shield-4
            .shield.shield-5
            .shield.shield-6
            .shield.shield-7
            .shield.shield-8
            .shield.shield-9
          .shields-b
            .shield.shield-1
            .shield.shield-2
            .shield.shield-3
            .shield.shield-4
            .shield.shield-5
            .shield.shield-6
            .shield.shield-7
            .shield.shield-8
            .shield.shield-9
        .effects
          .effect.fog
          .effect.explosion.p1
          .effect.explosion.p2
        .obstacles
          .obstacle.triangle-left
          .obstacle.triangle-right
          .obstacle.octagon
          .obstacle.diamond
          .obstacle.block-rect

    //GAME SCORES
    section#scores.state.game.inactive
      .logo
        img(src="/images/minicubeslam.png", alt='Cube Slam Logo')
        h1 #{name}
        p.level(arb:id='scoreLevel') Level 
          span#level 1

      .multiplayer
        .player
          p(arb:id='playerYou') You
          ol
            li.active
            li.active
            li.active

        .opponent
          p(arb:id='playerFriend') Friend
          ol
            li.active
            li.active
            li.active

      .singleplayer
        .player
          p(arb:id='playerYou') You
          ol
            li.active
            li.active
            li.active

        .opponent
          p(arb:id='playerCPU') Bob
          ol
            li.active
            li.active
            li.active

    //GAMEEXTRA ICONS
    #extras.state.game.inactive
      ul
        li.icon.deathball(data-icon='*', arb:id='extraDeathBall') Death ball
        li.icon.ghostball(data-icon='*', arb:id='extraGHostBall') Ghost ball
        li.icon.paddleresize(data-icon='*', arb:id='extraPaddleResize') Paddle Resize
        li.icon.fog(data-icon='*', arb:id='extraFog') Fog
        li.icon.multiball(data-icon='*', arb:id='extraMultiBall') Multiball
        li.icon.extralife(data-icon='*', arb:id='extraShield') Extra shield
        li.icon.timebomb(data-icon='*', arb:id='extraTimeBomb') Time Bomb
        li.icon.fireball(data-icon='*', arb:id='extraFireBall') Fireball
        li.icon.laser(data-icon='*', arb:id='extraLaserPaddle') Laser paddle
        li.icon.mirroredcontrols(data-icon='*')
          span(arb:id='extraMirroredControl') Mirrored Controls
        li.icon.bulletproof(data-icon='*', arb:id='extraBulletProof') Bulletproof

    //MOBILE
    section.mobile
      section.state.main-menu.inactive
        img(data-src-mobile='/images/mobile/landing-mobile.jpg', data-src-tablet='/images/mobile/landing-tablet.jpg', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA1JREFUeNoBAgD9/wAAAAIAAVMrnDAAAAAASUVORK5CYII=', alt='')
      #gamepad.state.game.inactive
        button.left.icon(type='button', data-icon='<')
        button.right.icon(type='button', data-icon='>')
      nav#mobile-menu.state.game.inactive.animate
        .state.game-play.inactive
          button.pause.icon(href='#', data-icon='▹', type='button')
        .state.game-pause.inactive
          button.play.icon(href='#', data-icon='▶', type='button')
          button.sound.icon.sound-switch(href='#', data-icon='♫', data-icon-off='♩', type='button')
          button.info.icon(href='#', data-icon='⌽', type='button')
      .state.cssinfo.game-cssinfo.game-over-cssinfo.inactive
        .content
          div
            h1(arb:id='aboutMobileH1') About<br/>Cube Slam
            p(arb:id='aboutMobileText1') Cube Slam is a chrome experiment built to showcase the latest technology in Google Chrome.
          div
            img(src='/images/mobile/gameboard.jpg', width='600', height='281', alt='mobile game board')
            p(arb:id='aboutMobileText2') Visit cubeslam.com in Chrome on your computer to play face to face against a friend.
            a.terms(target='_blank', href='https://www.google.com/policies/', arb:id='footerTerms') Terms &amp; privacy
            .buttons
              button.return.icon(href='#', data-icon='↩', type='button')
          div.state.inactive
              p Developed and created by:
              ul
                li
                  a(href='http://northkingdom.com', title='Developed and Designed by North Kingdom') North Kingdom
                li
                  a(href='http://publicclass.se', title='Developed by Public Class') Public Class



    //ERROR STATES
    section#error.state.error.inactive
      .state.error-connection.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorConnectionHeader') Connection Error
              p(arb:id='errorConnectionReload') Sorry, we had trouble making the connection.
              .buttons
                a.button.green(href='', arb:id='buttonReconnect') Reload

      .state.error-fullroom.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorOccupiedHeader') Your friend is playing someone else
              //- p(arb:id='errorOccupiedNew') Create a new game to invite a friend of you own
              //- p(arb:id='errorOccupiedOr') or go to main menu to play against Bob
              .buttons
                //button.main-menu.green(type='button', arb:id='buttonMainMenu') Main Menu
                //- a.button.green.new(href='/', arb:id='buttonNewGame') New Game
                a.button.green.new(href='/', arb:id='buttonMainMenu') Main Menu

      .state.error-datachannels.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorDCHeader') Please try in Chrome
              p(arb:id='errorDCBrowserSupport') Sorry, the two-player game requires Chrome.
              .buttons
                a.button.green(href='https://www.google.com/chrome/cubeslam', arb:id='buttonInstallChrome') Install Chrome
                button.main-menu.green(type='button', arb:id='buttonMainMenu') Main Menu

      .state.error-browser.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorBrowserHeader') Browser not supported
              p(arb:id='errorBrowserSupport') Sorry, this game does not support your browser
              .buttons
                a.button.green(href='https://www.google.com/chrome/cubeslam', arb:id='buttonInstallChrome') Install Chrome

      .state.error-lonelyroom.inactive
        .dialog.bottom
          .content.animate
            .vertical-center
              h2(arb:id='errorMobileLonelyRoomHeader') Please try in Chrome on your computer
              p(arb:id='errorMobileLonelyTwoPlayer') Sorry, the mobile version of Cube Slam doesn't support the two-player game.
              p(arb:id='errorMobileLonelyVisit') Visit this URL in Chrome on your computer to play your friend:
              p.share-url
                span.url= urlWithRoomId
              .buttons
                a.button.green(href='/', arb:id='buttonPlayMobileGame') Play Mobile Game


      //section.error.network-missing
        .dialog.bottom
          .content.animate
            .vertical-center
              button.main-menu(type='button', arb:id='buttonMainMenu') Main Menu

    //FOOTER
    footer#footer
      ul#socials.social
        li
          a.icon(data-icon='g', href='https://plus.google.com/share?url=#{url}')
            span Google+
        li
          a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
            span Facebook
        li
          a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name} - #{description}')
            span Twitter
      #about
        ul
          li.technology
            a(target='_blank', href='/tech')
              span(arb:id='footerTechnology') Technology
          li.terms
            a(target='_blank', href='https://www.google.com/policies/', arb:id='footerTerms') Terms &amp; privacy
          li.localization
            a#localizationSwitch(href='#') EN
          li.sound
            a.sound-switch.off(href='#')
              span.off(arb:id='soundOn') Sound on
              span.on(arb:id='soundOff') Sound off
            p#multiplayer-notification.notification-flag(arb:id='headphonesMultiplayer') Use your headphones and turn the music on!
          li.latency.inactive
            div#latencyMeter
              span.number.good 331
            p#latency-notification.notification-flag
              span.auto(arb:id='latencyBumpiness') Sorry, high latency! The game might be bumpy.
              span.details(arb:id='latencyDetails') This number measures latency, or how long it takes information to travel from you to your friend and back. Above 100 milliseconds, the game gets out of sync, so things feel bumpy. Sorry about that!

    #fpsCameraCapture

    #settingsGUIContainer
      #settingsDataGUI
      #settingsLevelsGUI
      #uiTopContent

    #debug-info
      pre

    #benchmarks

    script(src='/_ah/channel/jsapi')
    script(src='/javascript/libs/dat.gui.js')
    script(src='/javascript/libs/modernizr.custom.65399.js')
    script(src='/javascript/libs/stats.{{.Minified}}js')
    script(src='/javascript/slam.{{.Minified}}js?v={{.Version}}')
    script
      require('slam')(ctx = {
        room: '{{.Room}}',
        acceptLanguage: '{{.AcceptLanguage}}',
        ext: '.{{.Minified}}js?v={{.Version}}',
        dev: {{.Dev}},
        v: '{{.Version}}'
      })
