- var name = "Paddle Battle";
- var url = 'http://google.com/{{.Room}}';

!!! 5
html(lang='en')
  head
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='viewport',content='initial-scale=1, maximum-scale=1, minimum-scale=1')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    title #{name}
    link(rel='apple-touch-icon', href='/images/minipong.png')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Varela')
    link(rel='stylesheet', href='/stylesheets/pong.css')

  body
    header.state.main-menu
      hgroup
        h2 Welcome to
        h1.copy
          img(src='/images/logo_large.png', width='1533', height='155', alt='#{name}')
        h3 a chrome experiment

      .nav
        .notifications
          p.notification.empty
            span.bubble(arb:id="") No one is currently playing in this room, invite a friend.
          p.notification.full
            span.bubble(arb:id="friendPlayingSomeoneElse") Your friend is playing against someone else right now.
          p.notification.connection-error
            span.error.bubble(arb:id="friendPlayingSomeoneElse") Connection error! Try to reload the page to play multiplayer or play against the computer.
          p.notification.multiplayer
            span.bubble.slave(arb:id='friendIsWaiting') Your friend is waiting for you to join this Game Room!
          p.notification.error.webcam
            span.error.bubble.slave(arb:id='noWebcam') You don't have a webcam and you can thereby only play against the computer

        button.play-friend.green(arb:id='playFriendButton', type='button') Play friend
        button.play-computer.green(arb:id='playCPUButton', type='button') Play Computer

      .links
        a.tech(href='http://google.com/', target='_blank')
          small About
          | #{name}
          br
          | Technology
        a.experiment(href='http://google.com/', target='_blank')
          small This is a
          | Chrome
          br
          | Experiment

    .state.loading

    //GAME INSTRUCTIONS
    section.state.game-info.inactive
      .dialog.middle
        .content
          .game-controls.vertical-center
            h2 Game controls
            div.animation
              .kb-anim
                .dash-big.dash-black
                .key.key--small.default-key-anim
                  .key__label.icon-arrow-left
                  .key__bg-outer
                    .key__bg-inner
                div.key.key--small
                  .key__label.icon-arrow-right
                  .key__bg-outer
                    div.key__bg-inner
              p or
              .mouse-anim
                .dash-big.dash-black
                .icon-mouse
              p or press
              .key.key--big.default-key-anim
                p.key__label SPACE
                .key__bg-outer
                  div.key__bg-inner
              p to pause
            button.green.play(type='button') Ok (SPACE)

          .vertical-center
            .info-animation.hidden
              //GAME INFO ANIMATION
              .destroy-shield__label
                  p Disable the shields!
                  p Destroy the screen!
              .destroy-shield
                .destroy-shield__anim-container
                  .destroy-shield__wall
                    .destroy-shield__eyes
                      .dash-black
                      .dash-black
                    .destroy-shield__shields
                      .dash-tall.dash-black
                      .dash-tall.dash-black
                      .dash-tall.dash-black

                  .destroy-shield__weapon.icon-destroy-shield-weapon

    //INVITE FRIEND
    section.state.friend-invite.game-invite.inactive
      .dialog
        .content
          .vertical-center
            h2 share this link to Invite a Friend
            p.share-url
              span.url= url
            p You will be notified when your friend enter the game
            button.red.return-mainmenu(type='button') Back

    //COUNTDOWN
    section.state.game-play.inactive
      .content.center
        #start
          h1.bitmap Start!
        #round
          h2.bitmap Round
            span 2
        #level
          h2.bitmap Level
            span 2

    //PAUSE DIALOG
    section.state.game-pause.inactive
      .dialog
        .content
          .vertical-center
            h2 Paused
            button.blue.play-friend.notimplemented(type='button') Play Friend
            button.singleplayer.green.play(type='button') Resume (space)

    //CAMERA REQUEST ATTENTION
    section.state.webcam-activate.inactive
      .dialog.top
        .content
          span.alert-icon.red
          .alert-info Please choose allow to connect your webcam and start friends play

    section.state.webcam-information.inactive
      .dialog.top
        .content
          span.alert-icon.red
          span.alert-info Are you sure? Friends play is not possible without allowing webcam.
          span
            a#activate-camera Activate Camera

    //WAITING FOR FRIEND CAMERA
    section.state.webcam-waiting.inactive
      .dialog.middle
        .content
          .vertical-center
            .webcam-spinner
              .webcam-spinner__bg.icon-webcam
              .webcam-spinner__quarter
                .icon-quarter-circle
            h2 Waiting for friend<br/>to activate camera

    //WAITING FRIEND
    section.state.friend-waiting.inactive
      .dialog.middle
        .content
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2 Your friend is waiting for you in the arena
            button.play-friend.blue(type='button') Play Friend

    //ERROR STATES
    section.state.error.inactive
      .state.error.connection-error.inactive
        .dialog.middle
          .content
            .vertical-center
              h2 Connection Error!
              .cpu-conn-failed-anim
                .cpu-wth-eyes
                  .cpu-wth-eyes__bg.icon-computer
                  .cpu-wth-eyes__container
                    .cpu-wth-eyes__eyes
                      .dash-medium.dash-white.sad-left-eye-anim-loop
                      .dash-medium.dash-white.sad-right-eye-anim-loop

                .dash-anim-line
                  .dash-small.dash-black
                  .dash-small.dash-black
                  .dash-small.dash-black

                .cross-fail-anim
                  .icon-cross

                .dash-anim-line
                  .dash-small.dash-black
                  .dash-small.dash-black
                  .dash-small.dash-black

                .cpu-wth-eyes
                  .cpu-wth-eyes__bg.icon-computer
                  .cpu-wth-eyes__container
                    .cpu-wth-eyes__eyes
                      .dash-medium.dash-white.sad-left-eye-anim-loop
                      .dash-medium.dash-white.sad-right-eye-anim-loop

              p You can try reloading the page
              p or try the single player game

      section.state.error.datachannels.inactive
        .dialog.middle
          .content
            .vertical-center
              h2 Error
              p Sorry. your browser does not support 2 player game in friends play. install a modern browser like google chrome, or try single player game.
              button.return-mainmenu.red(type='button') Back

      section.state.error.network-missing
        button.return-mainmenu(type='button') Back

     section.state.error.game-full
        a.button.return-mainmenu.red(href="/", type='button')


    //WAITING FRIEND ACCEPT
    section.state.friend-accept.inactive
      .dialog.middle
        .content
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2 Waiting for you friend to accept
            button.return-mainmenu.blue(type='button') Back

    //FRIEND ARRIVED
    section.state.friend-arrived.inactive
      .dialog.middle
        .content
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2 Your friend has arrived
            button.play-friend.blue(type='button') Play Friend

    //OPPONENT LEFT DIALOG
    section.state.friend-left.inactive
      .dialog
        .content
          .vertical-center
            h2 Your friend left the game
            button.blue.play-friend(type='button') Play Friend
            button.green.play(type='button') Play Computer (Space)

    //GAME OVER
    section.state.game-over.inactive
      h1.bitmap Game Over

      div
        .dialog
          .content
            #scoreboard-single.vertical-center
              .scoreboard.single
                  div
                    p#single-levels.levels X
                    h3 Levels Cleared
                  ul.social
                    li
                      a.icon.notimplemented(data-icon='g')
                        span Google plus
                    li
                      a.icon.notimplemented(data-icon='f')
                        span Facebook
                    li
                      a.icon.notimplemented(data-icon='t')
                        span Twitter

              button.blue.play-friend(type='button') Play Friend
              button.green.play(type='button') Play Again (Space)

            #scoreboard-multi.vertical-center
              .scoreboard.multiplayer
                h3 Total wins
                div
                      p#me-levels.levels X
                        span You
                      p#opponent-levels.levels X
                       span p2
                ul.social
                  li
                    a.icon.notimplemented(data-icon='g')
                      span Google plus
                  li
                    a.icon.notimplemented(data-icon='f')
                      span Facebook
                  li
                    a.icon.notimplemented(data-icon='t')
                      span Twitter
                button.green.play(type='button') Play Again (Space)

    section#scores.state.game.inactive
      .logo
        img(src="/images/minipong.png")
        p #{name}
        p.level Level 1
        p.frame 0

      .multiplayer
        .player
          p You
          ol
            li
            li
            li

        .opponent
          p Friend
          ol
            li
            li
            li

      .singleplayer
        .player
          p You
          ol
            li
            li
            li

        .opponent
          p CPU
          ol
            li
            li
            li

    #game
      canvas#canv-3d(width='320',height='480')
      canvas#canv-2d(width='320',height='480')
      video#remoteInput.hidden(width='160',height='120',autoplay)
      video#localInput.hidden(width='160',height='120',autoplay)

      #canv-css
        .background
          img(data-src-mobile='/images/css/mobile_fullbg-small.jpg', data-src-tablet='/images/css/mobile_fullbg.jpg')
        .game-board
          .arena

    #gamepad.state.game
      .button.left(type='button')
      .button.right(type='button')

    footer#footer
      ul#socials.social
        li
          a.icon(data-icon='g', href='https://plus.google.com/share?url='+url)
            span Google plus
        li
          a.icon(data-icon='f', href='https://www.facebook.com/sharer.php?u=#{url}&t=#{name}')
            span Facebook
        li
          a.icon(data-icon='t', href='http://twitter.com/intent/tweet?url=#{url}&text=#{name}')
            span Twitter
        //li
          a.icon.notimplemented(data-icon='p')
            span Pininterest
      #about
        ul
          li
            a#pointer-lock Mouse lock on
          li
            a.notimplemented Terms &amp; privacy
          li
            a#localizationSwitch(href='#') EN
          li
            a.sound-switch.on(href='#')
              span.off Sound on
              span.on Sound off

    #fpsCameraCapture

    #settingsGUIContainer
      #settingsDataGUI
      #settingsLevelsGUI
      #uiTopContent


    script(src='/_ah/channel/jsapi')
    script(src='/javascript/libs/three.js')
    script(src='/javascript/libs/TweenMax.min.js')
    script(src="/javascript/libs/dat.gui.js")
    script(src='/javascript/pong.{{.Minified}}js')
    script
      require('paddle-battle')({
        room: '{{.Room}}',
        acceptLanguage: 'en,{{.AcceptLanguage}}'
      })
